.Intro {
  background-color: #1f2635;
  color: #fff;
  text-align: left;
  padding: 12px 24px 48px;
}

.Intro .Intro-texts {
  width: 360px;
}

.Intro .Intro-texts .Intro-title {
  font-size: 72px;
  margin-bottom: 12px;
}

.Intro .Intro-texts .Intro-description {
  font-size: 24px;
  font-weight: lighter;
  display: inline-block;
  margin-bottom: 48px;
}

.Intro .Intro-texts .Intro-description span {
  display: block;
}

.Intro .Intro-btn {
  background-color: #fff;
  color: #1f2635;
  padding: 16px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
}