.ListItem {
  padding: 0 16px;
  text-align: left;
}

.ListItem > h4 {
  color: #1f2635;
  font-size: 24px;
  margin-bottom: 12px;
}

.ListItem p {
  color: #878787;
  font-size: 16px;
  line-height: 1.5;
}